.c-avatarBg-img{
    height: 62px !important;
    border-radius: 4px !important;
}
.text-discription{
    color: #9492A0;
}
.hr{
    padding-bottom: 0rem !important;
}
.title-left{
    color: #9492A0 !important;
    text-transform: uppercase;
}
// .upload-avatar:hover{
//     border-color: #007BFF !important;
// }
// .buton-plus-avatar{
//     height: 2rem !important;
//     width:  2rem !important;
// }
// .buton-plus-avatar:hover{
//     color: #007BFF !important;
// }
.card-body {
    padding: 1.5rem !important;
}