.form-login{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1px !important;
}
.text-ps{
    color: #007bff !important;
}
//login page
//@at-root
.language:hover{
    color: #007bff !important;
}
.popover-body {
    padding: 0.5rem 0rem !important;
    box-shadow: 0 0 4px #dde1e4;
}
.title-login {
    color: #007bff !important;
}
.description {
    color: #9492A0;
}