.widget-header{
    
    color: #7e8299!important;
    font-size: 1.5rem!important;
    font-weight: 700 !important;
}
.widget{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}
.fixed-height-chart{
    height: 350px !important;
}