// .dropdown-toggle::after{
//     content: none !important;
// }
.segment-header{
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.06);
}
.line-active{
    background-color: #009ef7;
    position: absolute;
    justify-content: center;
    left: 5px;
    height: 0.25rem;
    justify-items: center;
    bottom: 0;
    width: 2rem;

}
.filter{
    position: relative;
    margin: 0px 0.5rem;
}