.user-point {
    font-family: 'Roboto Slab', cursive;
    .table {
        border-collapse: separate;
        border-spacing: 0 7px;
        thead th {
            text-transform: uppercase;
            background-color: rgba(50, 228, 255,0.8);
            border-bottom: none;
            border-top: #2190a0cc;
        }
        td {
            background-color: #fff;
            padding: 0.55rem;
        }
        tr.my-position td{
            background-color: #a5cbff;
        }
        // tbody tr:nth-child(-n + 3) td{
        //     background-color: #faffc4;
        //     font-weight: bold;
        // }
    }
}