// Here you can add other styles
// boder-for all
.border-gray-300 {
    border-color: #eff2f5 !important;
}
.c-main{
    background-color: #f5f8fa !important;
}
.card {
    border: 0px solid #E6E9ED !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: .42rem !important;
}
.card-footer{
    border-top: 1px solid #eff2f5 !important;
}
// footer body
.c-footer {
    color: #3c4b64;
    background-color: #fff !important;
    border-top: 1px solid #eff2f5 !important;
}
//@at-root
//button checkbox custom control label
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #009ef7 !important;
    background-color: #009ef7 !important;
}
.custom-control-label::before {
    border-color: #e4e6ef !important;
}
// Button
//Primary Button
.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 0.875rem !important;
    color: #3f4254;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .60rem 1rem !important;
    line-height: 1.5;
    border-radius: .42rem;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}
.btn-outline-light{
    border: 1px solid #e4e6ef;
    &:hover{
        border-color: #009ef7 !important;
        color: #009ef7;
        background-color: #ecf8ff !important; 
    }

}
.btn-light{
    color: #7e8299 !important;
    background-color: #f5f8fa !important;
}
.btn-outline-light:focus{
    outline: 1px auto -webkit-focus-ring-color #009ef7!important;
    color:  #292642 !important;
    border-color: #009ef7 !important;
    background-color: #ecf8ff !important; 
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}
.btn-primary {
    color: #fff;
    background-color: #009ef7 !important;
    border-color: #009ef7 !important;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease,box-shadow .2s ease;
    &:hover{
        background-color: darken($color: #009ef7, $amount: 10%)!important;
    }
}

.btn-primary:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}
// buton ghost none outline
.btn-ghost-primary{
    color:#009ef7 !important;
    padding: 0.02rem 0.75rem;
    &:hover{
        background-color: #ecf8ff !important;
        border-color: transparent !important;
    }
}
.btn-ghost {
    color:#009ef7 !important;
}
.btn-ghost:hover {
    background: #ecf8ff!important;
    color: #009ef7 !important;
}
.btn-ghost:focus{
    outline: 1px auto -webkit-focus-ring-color #009ef7!important;
    border-color: #009ef7 !important;
    background-color: #ecf8ff !important; 
    box-shadow: 0 0 2px 3px transparent, 0 0 2px transparent inset;
}
// button outline dropdown
.btn-outline{
    background-color: #fff !important;
    border-color: rgba(0, 123, 255, 0.4) !important;
    color:#009ef7 !important;
    &:hover{
        background-color: #009ef7 !important;
        color: #fff !important;
    }
}
.btn-outline:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
    background-color: #009ef7 !important;
    color: #fff !important;
}
// button outline
.btn-outline-primary{
    background-color: #fff !important;
    border-color: #009ef7 !important;
    color:#009ef7 !important;
    &:hover{
        background-color: #009ef7 !important;
        color: #fff !important;
    }
}
.btn-outline-primary:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
    background-color: #009ef7 !important;
    color: #fff !important;
}
.btn-outline-dark {
    color: #636f83;
    border-color: #ced4da !important;
    &:hover{
        background: #ecf8ff!important;
        color: #009ef7 !important;
    }
}
// btn secondary
.btn-secondary{
    background: #ecf8ff!important;
    color: #009ef7 !important;
    border: none !important;
    &:hover{
        background-color: #009ef7 !important;
        color: #fff !important;
    }
}
.btn-secondary:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
    background-color: #009ef7 !important;
    color: #fff !important;
}

//@at-root
//@at-root
// Form Input
.form-control {
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    color: #5e6278 !important;
    transition: color .2s ease,background-color .2s ease !important;
    padding: 1.3rem 1rem !important;
    font-weight: 500;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    font-size: 0.875rem !important;
    appearance: none;
    border-radius: .475rem;
    display: flex;
    align-items: center !important;
}
//label
.form-control-label{
    font-weight: 600 !important;
}
// Focus Hover form input
.form-control:focus {
    outline: 1px auto -webkit-focus-ring-color #009ef7!important;
    color:  #292642 !important;
    border-color: #009ef7 !important;
    background-color: #ecf8ff !important; 
    box-shadow: 0 0 2px 3px transparent, 0 0 2px transparent inset;
  }
.form-control:hover{
    border-color: #009ef7 !important;
  }
//style placeholder 
::-webkit-input-placeholder {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    color: #B0B7C0 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #F3F5F9 !important;
    opacity: 1;
    cursor: not-allowed;
}
//
.custom-select {
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    color: #5e6278 !important;
    transition: color .2s ease,background-color .2s ease !important;
    height: calc(1.5em + 1.4rem + 2px);
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    border-radius: .42rem;
    box-shadow: none;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
    &:hover{
        border-color: #009ef7 !important;
    }
}
.custom-select:focus {
    outline: 1px auto -webkit-focus-ring-color #009ef7!important;
    color:  #292642 !important;
    border-color: #009ef7 !important;
    background-color: #ecf8ff !important; 
    box-shadow: 0 0 2px 3px transparent, 0 0 2px transparent inset;
}
//line
hr{
    border-top: 0.1px solid #E6E9ED   !important ;
}

.c-sidebar .c-sidebar-nav-link:hover{
    background-color: #009ef7 !important;
    color: #fff !important;
  
}
a {
    text-decoration: none;
    color:#4f5d73 !important;
}
a:hover {
    text-decoration: none ;
    color: #009ef7 !important;
}
.c-sidebar-nav-link{
    color:#fff !important;
}
//drop down menu
.dropdown-item:hover{
    color: #009ef7 !important;
    background:none !important;
}
.dropdown-menu{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border: 0px solid #fff !important;
    border-radius: .42rem !important;
}
//@at-root
.menu-item {
    width: 100%;
    padding: 0;
    border-radius: .43rem !important;
    &:hover{
        color: #009ef7 !important;
        background-color: #ecf8ff !important; 
   }
}
.icon-drop{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: .43rem !important;
    background-color: #ecf8ff;
}

.dropdown-divider {
    border-top: 1px solid #eff2f5 !important;
}
.c-header .c-subheader {
    border-top: 1px solid #eff2f5 !important;
}
.c-header{
    border-bottom: 0px solid #eff2f5 !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
// tabel header
.table thead th {
    padding: 1rem !important;
    border-top: 0px !important;
    border-bottom: #E6E9ED !important ;
    padding-bottom: 1rem !important;
    font-weight: 600;
    color: #b5b5c3!important;
    font-size: 0.75rem;
    text-transform: uppercase;
}
//style table
.table td{  
    padding-left: 1rem !important;
    vertical-align: middle !important;
    border-bottom: 1px solid #E6E9ED  !important ;
    border-top: 1px solid #E6E9ED  !important;
    // color: #768192;
}
// Style for Card
.card-header{
    // background-color: rgb(250, 251, 251);  
    border-bottom: 0.1px solid #eff2f5 !important;
}
.card-footer{
    border-top: 1px solid #eff2f5 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa !important;
    &:hover{
        background-color: #E7E7EA !important;
    }
} 
// style pagingin
.pagination{
    display: flex;
    justify-content: center !important;
}
.page-item{
    padding: 0.2rem !important;
}
.page-link{
    background-color: #f3f6f9 !important;
    border-color: #f3f6f9 !important;
    color: #7e8299 !important;
    font-size: 0.875rem !important;
    border-radius: .42rem !important;
    &:hover{
        background-color: #E7E7EA !important;
    }

}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #009ef7 !important;
    border-color: #009ef7 !important;
}
.tt-header{
    color: #6c757d;
}
.text-discription{
    color: #768192;
}

// status
.badge-status {
    padding: 0.4rem 0.5rem;
    font-size: 10px;
    font-weight: 500;
}
.badge-success{
    color: #50cd89 !important;
    background-color: #e8fff3 !important;
}
.badge-warning{
    background: rgba(255, 248, 226, 1);
    color: rgba(255, 193, 7, 1);
}
.badge-danger {
    background: rgba(220, 53, 69, 0.2);
    color: rgba(220, 53, 69, 1);
}
.badge-primary{
    color: #009ef7;
    background: #ecf8ff!important;
}
//color
.light-color{
    color: rgb(149, 161, 172) !important;
}
.danger-color{
    color: #DC3545 !important;
}
.primary-color{
    color: #009ef7 !important;
}
.warning-color{
    color: rgba(255, 193, 7, 1);
}
.success-color{
    color: #28A745;
}
.read-color{
    color: #BB6BD9
}
.bg-read{
    color: #BB6BD9 !important;
}
.bg-light-primary {
    background-color: #ecf8ff!important;
}
.bg-success {
    background-color:  #47BE7D !important;
}
//end
//
//tag segmnets other
.el-tag{
    border-radius: .42rem;
    background: #ecf8ff!important;
    color: #009ef7;
    border: 1px solid rgb(229, 242, 252);
    cursor: pointer;
}
.el-tag:hover {
    border-color: #ecf8ff!important;

}
.flat-lang{
    height: 20px !important;
    width: 20px !important;
    border-radius: 4px !important;
}
// }
//@at-root lisst drop down profile
.symbol {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-radius: .42rem;
}
.symbol.symbol-40 .symbol-label {
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #3f4254;
    border-radius: .42rem;
}


.text-muted {
    color: #b5b5c3 !important;
}

///@at-root
.dropdown-toggle::after{
    content: none !important;
}
//modal
// .modal-header{
//     background-color: #f8f9fa !important;
// }

.c-avatar-img{
    flex-shrink: 0;
    display: inline-block;
    border-radius: .475rem;
    width: 40px;
    height: 40px;
}
.c-avatar-bg{
    flex-shrink: 0;
    border-radius: .475rem;
    width: 50px;
    height: 50px;
}
.c-avatar-dropdown{
    width: 50px;
    height: 50px;
}
//boder
.border-dashed{
    border-style: dashed!important;
    border-color: #e4e6ef !important;
} 
.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #eff2f5;
}
.border-gray-300 {
    border-color: #e4e6ef!important;
}
.min-w-125px {
    min-width: 125px!important;
}
//@at-root
