@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

.c-main {
  background-color: #555555e0;
}
.c-subheader {
  .event-title {
    font-size: 2rem;
    font-family: 'Roboto Slab', cursive; 
    color: #048cac;
    position: relative;
    top: -26px;
    background-color: white;
    padding:0 1.5rem;
    text-shadow: 2px 2px 4px;
  }
  @include media-breakpoint-down(xs) { 
    .event-title {
      font-size: 1.4rem;
      top: -15px;
      padding:0 0.5rem;
    }  
  }
}

.header-logo{
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  width: 96px;
  height: 96px;
  &:hover{
    transform: scale(1.05);
  }
}



.input-group.customize {
    input {
        height: 38px;
    }
    select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 38px;
    }
}
.form-control:focus {
  outline: 1px auto -webkit-focus-ring-color #321fdb !important;
  color: #292642 !important;
  border-color: #321fdb !important;
//   background-color: #ecf8ff !important;
  box-shadow: none;
}

.form-control:focus ~ .floating-label,
.form-control:not(:focus):valid ~ .floating-label{
  opacity: 1;  
  top: -8px;
    font-size: 80%;
    color: #321fdb;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 8px;
  transition: 0.2s ease all;
  background-color: #fff;
  padding: 0 3px;
  z-index: 1000;
}
.count-down {
  color: #321fdb;
  span {
    font-weight: bold;
    font-size: 3rem;
  }
  p {
    font-size: large;
  }
}


.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 180px;
    padding: 10px 0;
    background-color: #28b8cec2;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #fff;
    font: 500 15px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

/* top left*/
.ribbon-top-left {
  top: -7px;
  left: -7px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -8px;
  top: 20px;
  transform: rotate(-45deg);
}


.headline {
  position: relative;
  width: 90%;
  min-width: 180px;
  background-color: #c8d9f1;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  border-radius: 10px;
  
  .banner {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Slab', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    font-size: 3.4rem;    
    text-align: center;
  }
}